# formatted
romPath=/media/mmcblk1p1/32X/
boxartPath=/media/mmcblk1p1/32X/media/box2dfront/
screenshotsPath=/media/mmcblk1p1/32X/media/screenshots/

#Which extensions it should support (use * to allow all extensions)
emulatorExtensions=.32x;.zip

#Path to favorite saves
favSave=/home/retrofw/apps/coverflow/themes/32X/favorite.sav


#Emulator settings
emulatorPath=/home/retrofw/emus/picodrive/
emulatorExec=picodrive
logging=0
switchToEmu=1

#ConsonleGrid Settings
imgConsoleBackground=/home/retrofw/apps/coverflow/assets/images/backgroundConsole.png
imgConsoleBar=/home/retrofw/apps/coverflow/assets/images/backgroundConsoleText.png
imgConsolePanel=/home/retrofw/apps/coverflow/assets/images/border.png
fontConsole=/home/retrofw/apps/coverflow/assets/fonts/Arial.ttf