# formatted
romPath=/media/mmcblk1p1/NEOGEO/
boxartPath=/media/mmcblk1p1/NEOGEO/media/box2dfront/
screenshotsPath=/media/mmcblk1p1/NEOGEO/media/screenshots/

#Which extensions it should support (use * to allow all extensions)
emulatorExtensions=.zip;.dcy

#Emulator settings
emulatorPath=/home/retrofw/emus/gngeo/
emulatorExec=gngeo
logging=0
switchToEmu=1

#ConsonleGrid Settings
imgConsoleBackground=/home/retrofw/apps/coverflow/assets/images/backgroundConsole.png
imgConsoleBar=/home/retrofw/apps/coverflow/assets/images/backgroundConsoleText.png
imgConsolePanel=/home/retrofw/apps/coverflow/assets/images/border.png
fontConsole=/home/retrofw/apps/coverflow/assets/fonts/Arial.ttf

#Path to favorite saves
favSave=/home/retrofw/apps/coverflow/themes/NEOGEO/favorite.sav
