# formatted
romPath=/media/mmcblk1p1/nes/
boxartPath=/media/mmcblk1p1/roms/nes/media/box2dfront/
screenshotsPath=/media/mmcblk1p1/nes/media/screenshots/

#Which extensions it should support (use * to allow all extensions)
emulatorExtensions=.nes;.zip

#Emulator settings
emulatorPath=/home/retrofw/emus/fceux/
emulatorExec=fceux
logging=0
switchToEmu=1

#ConsonleGrid Settings
imgConsoleBackground=/home/retrofw/apps/coverflow/assets/images/backgroundConsole.png
imgConsoleBar=/home/retrofw/apps/coverflow/assets/images/backgroundConsoleText.png
imgConsolePanel=/home/retrofw/apps/coverflow/assets/images/border.png
fontConsole=/home/retrofw/apps/coverflow/assets/fonts/Arial.ttf

#Path to favorite saves
favSave=/home/retrofw/apps/coverflow/themes/nes/favorite.sav
